<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Mix-Fight</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <% if(user){ %>
                <li><a href="/startgame">Start game</a></li>
                <% } %>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <% if(user){ %>
                <li><a href="" onclick="$('<form method=POST action=/logout>').submit();return false"><span class="glyphicon glyphicon-log-in"></span>Logout (<%=user.username%>)</a></li>
                <% }else{ %>
                <li><a href="/registration"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>