body {
  padding: 50px 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container{
    width: 100%;
    padding: 0 25px;
}


a {
  color: #00B7FF;
}

.nav > li > a {
    padding: 20px 50px!important;
}

/*    --------------------------------------------------
	:: Login Section
	-------------------------------------------------- */
#login {
    padding-top: 50px
}
#login .form-wrap {
    width: 30%;
    margin: 0 auto;
}
#login h1 {
    color: #1fa67b;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}
#login .form-group {
    margin-bottom: 25px;
}
#login .checkbox {
    margin-bottom: 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#login .checkbox.show:before {
    content: '\e013';
    color: #1fa67b;
    font-size: 17px;
    margin: 1px 0 0 3px;
    position: absolute;
    pointer-events: none;
    font-family: 'Glyphicons Halflings';
}
#login .checkbox .character-checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #ccc;
    vertical-align: middle;
    display: inline-block;
}
#login .checkbox .label {
    color: #6d6d6d;
    font-size: 13px;
    font-weight: normal;
}
#login .btn.btn-custom {
    font-size: 14px;
    margin-bottom: 20px;
}
#login .forget {
    font-size: 13px;
    text-align: center;
    display: block;
}

.error-message{
    color:#cc0000;
    font-size: 13px;
}

/*    --------------------------------------------------
	:: Inputs & Buttons
	-------------------------------------------------- */
.form-control {
    color: #212121;
}
.btn-custom {
    color: #fff;
    background-color: #1fa67b;
}
.btn-custom:hover,
.btn-custom:focus {
    color: #fff;
}

/*    --------------------------------------------------
    :: Footer
	-------------------------------------------------- */
#footer {
    color: #6d6d6d;
    font-size: 12px;
    text-align: center;
}
#footer p {
    margin-bottom: 0;
}
#footer a {
    color: inherit;
}

.room-block{
    width: 50%;
    float: left;
    min-height: 100px;
    min-width: 300px;
}


input#room-pass{
    display: none;
}

input#checkBox{
    width: 35px;
    float: left;
}

label#labelForCheckBox{
    line-height: 43px;
    float: left;
    padding-left: 15px;
}

.modal-footer{
    margin-top: 30px;
}

.required-info{
    color: red;
    font-size: 10px;
    float: left;
}

.spinner {
    background-image: url("/images/spinner.gif");
    background-repeat: no-repeat;
    width:100px;
    height:100px;
    display:inline-block;
    position:absolute;
    top:250px;
    left:48%;
}

#spinner-text{
    position: absolute;
    font-size: 40px;
    top: 350px;
    left: 40%;
    -webkit-animation: spinner-text 3s linear infinite;
    animation: spinner-text 3s linear infinite;
}

@-webkit-keyframes spinner-text {
    0% { color: rgba(34, 34, 34, 1); }
    50% { color: rgba(34, 34, 34, 0); }
    100% { color: rgba(34, 34, 34, 1); }
}
@keyframes spinner-text  {
    0% { color: rgba(34, 34, 34, 1); }
    50% { color: rgba(34, 34, 34, 0); }
    100% { color: rgba(34, 34, 34, 1); }
}

.gameTitle {
    background-image: url(/images/space.jpg);
    background-repeat: no-repeat;
    width: 100%;
    display: inline-block;
    color: white;
    font-family: Arial;
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 120px;
    text-shadow: 1px 1px 2px black, 0 0 1em red;
    font-style: italic;
}

.create-lobby {
    width: 300px;
    background-image: url(/images/Create.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    border: 2px solid white;
    display: inline-block;
    opacity: 0.5;
}

.select-lobby {
    width: 300px;
    background-image: url(/images/Select.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    border: 2px solid white;
    display: inline-block;
    opacity: 0.5;
}

.start-game {
    width: 300px;
    background-image: url(/images/Start.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    border: 2px solid white;
    display: inline-block;
    opacity: 0.5;
}

.option-container {
    text-align: center;
}

.select-lobby:hover,
.create-lobby:hover,
.start-game:hover {
    border: 2px solid #5aa2fb;
    opacity: 1;
}

.option-text {
    font-size: 20px;
    font-family: Arial;
    padding-top: 136px;
    display: inline-block;
    font-weight: 900;
    color: greenyellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
