span {
    color:cornflowerblue;
}
b {
    font-size:30px;
    color:#878686;
    font-family:Aharoni;
    display:block;
    position:relative;
}
.main-field {
    width:500px;
    height:500px;
    background-color:gray;
    margin:0 auto;
}

.item {
    width:100px;
    margin-left:17px;
    margin-top:17px;
    height:100px;
    background-color:lightgray;
    display:inline-block;
}
.zero {
    background-color:lightgray;
}
 .two {
    background-image:url(icons/2.jpg);
}
.four {
    background-image:url(icons/4.jpg);
}

.eight {
    background-image:url(icons/8.jpg);
}

.one6 {
    background-image:url(icons/16.jpg);
}
.three2 {
    background-image:url(icons/32.jpg);
}
.six4 {
    background-image:url(icons/64.jpg);
}
.one28 {
    background-image:url(icons/128.jpg);
}
.two56 {
    background-image:url(icons/256.jpg);
}
.five12 {
    background-image:url(icons/512.jpg);
}
.one024 {
    background-image:url(icons/1024.jpg);
}
.two048 {
    background-image:url(icons/2048.jpg);
}
.two, .four, .eight, .one6, .three2, .six4, .one28, .two56, .five12, .one024, .two048 {
    background-size:contain;
}





