<% layout('/layout/main') -%>
<% block('title', 'Привет ≥︺‿︺≤'); -%>

<p class="lead">Всем привет!</p>


<script type="text/javascript">

    var enemiesList = [];
    var enemies = [];



    function generateEnemies(roomID){

        enemiesList[roomID] = [];

        for (var i = 0; i < 3; i++) {
            enemies[i] = [];
        }


        for (var j = 0; j < 3; j++){
            for (var i = 0; i < 11; i++) {
                enemies[j][i] = true;
            }
        }

        enemiesList[roomID] = enemies;

        console.log(enemiesList);
    }

    $(document).ready(function(){

        var string = '5579e6a41d33b447149866c3';
        generateEnemies(string);
    });

</script>