<% layout('layout/main') -%>
<% block('title', "Start game") %>

<link rel="stylesheet" type="text/css" href="/css/style.css" />
<script src="/js/phaser.js"></script>
<script type="text/javascript">
    var game = new Phaser.Game(1900, 950, Phaser.CANVAS, 'phaser-example', { preload: preload, create: create, update: update, render:render });

    function preload() {
        game.load.image('einstein', '/images/space.png');
        game.load.image('plane', '/images/airplane.png');
        game.load.image('bullet', '/images/bullet.png');
        game.load.image('enemy', '/images/enemyPlane.png');
        game.load.image('enemyBullet', '/images/enemyBullet.png');

    }

    var plane;
    var bullets;
    var enemy;
    var cursors;
    var enemyBullets;
    var enemyPlanes = [];
    var enemyLifes = [];
    var enemyCount = 33;
    var level = 0;

    var bulletTime = 0;
    var enemyBulletTime = 0;
    var bullet;
    var isMoveEnemyRight = true;
    var isLevelPassed = false;
    var nextLevelTime;

    function create() {
        for (var i = 0; i < 3; i++) {
            enemyPlanes[i] = [];
            enemyLifes[i] = [];
        }
        background = game.add.tileSprite(0, 0, 1900, 950, 'einstein');

        enemy = game.add.group();
        enemy.enableBody = true;
        enemy.physicsBodyType = Phaser.Physics.ARCADE;

        bullets = game.add.group();
        bullets.enableBody = true;
        bullets.physicsBodyType = Phaser.Physics.ARCADE;

        enemyBullets = game.add.group();
        enemyBullets.enableBody = true;
        enemyBullets.physicsBodyType = Phaser.Physics.ARCADE;


        for (var j = 0; j < 3; j++)
            for (var i = 0; i < 11; i++) {
                enemyPlanes[j][i] = enemy.create(150 * i + 100, j * 130, 'enemy', game.rnd.integerInRange(0, 36));
                enemyPlanes[j][i].name = "enemy" + i + 3 * j;
                enemyLifes[j][i] = true;
                enemyPlanes[j][i].scale.x -= 0.2;
                enemyPlanes[j][i].scale.y -= 0.2;
                //tmp.body.immovable = true;
            }
        for (var i = 0; i < 2000; i++) {
            var b = bullets.create(0, 0, 'bullet');
            b.name = 'bullet' + i;
            b.exists = false;
            //b.visible = false;
            //b.checkWorldBounds = true;
            b.events.onOutOfBounds.add(resetBullet, this);
        }

        for (var i = 0; i < 2000; i++) {
            var b = enemyBullets.create(0, 0, 'enemyBullet');
            b.name = 'enemyBullets' + i;
            b.exists = false;
            //b.visible = false;
            //b.checkWorldBounds = true;
            b.events.onOutOfBounds.add(resetEnemyBullet, this);
        }

        plane = game.add.sprite(950, 850, 'plane');
        game.physics.enable(plane, Phaser.Physics.ARCADE);

        cursors = game.input.keyboard.createCursorKeys();
        game.input.keyboard.addKeyCapture([Phaser.Keyboard.SPACEBAR]);

        //key1 = game.input.keyboard.addKey(Phaser.Keyboard.ONE);
        //key1.onDown.add(refreshLevel, this);

    }


    function update() {
        game.physics.arcade.overlap(bullets, enemy, collisionHandler, null, this);
        game.physics.arcade.overlap(enemyBullets, plane, playerDead, null, this);
        background.tilePosition.y += 0.5;

        if (cursors.left.isDown) {
            if (plane.x > 10)
                plane.x -= 25;

        }
        else if (cursors.right.isDown) {
            if (plane.x < 1850)
                plane.x += 25;
        }

        if (game.input.keyboard.isDown(Phaser.Keyboard.SPACEBAR)) {
            fireBullet();
            //enemyPlanes[0][0].kill();
        }

        if (!isLevelPassed && enemyCount == 0) {
            isLevelPassed = true;
            text = game.add.text(game.world.centerX, game.world.centerY, "- Congrats -\nLevel is passed", { font: "65px Arial", fill: "#ff0044", align: "center" });
            text.anchor.setTo(0.5, 0.5);
            nextLevelTime = game.time.now + 4000;
        }
        if (game.time.now > nextLevelTime && isLevelPassed) {
            refreshLevel();
            isLevelPassed = false;
        }

        enemyMove();
        enemyFire();
    }

    function refreshLevel() {
        for (var j = 0; j < 3; j++)
            for (var i = 0; i < 11; i++) {
                console.log(level);
                enemyPlanes[j][i] = enemy.create(150 * i + 100, j * 130, 'enemy', game.rnd.integerInRange(0, 36));
                enemyPlanes[j][i].name = "enemy" + i + 3 * j;
                enemyLifes[j][i] = true;
                //tmp.body.immovable = true;
            }
        enemyCount = 33;
        level++;
        text.destroy();
    }

    function enemyFire() {
        if (enemyCount > 0) {
            GetLiveEnemyPlane();
            var num1 = 0, num2 = 0;
            if (game.time.now > enemyBulletTime) {
                num1 = GetLiveEnemyPlane();
                num2 = num1[1];
                num1 = num1[0];
                enemyBullet = enemyBullets.getFirstExists(false);
                if (enemyBullet && enemyLifes[num1][num2]) {
                    enemyBullet.reset(enemyPlanes[num1][num2].x + 150, enemyPlanes[num1][num2].y + 110);
                    enemyBullet.body.velocity.y = 300;
                    enemyBulletTime = game.time.now + 150;
                }
            }
        }

    }

    function GetLiveEnemyPlane() {
        var rand;
        var num1 = 0, num2 = 0;
        rand =  Math.floor(Math.random() * (enemyCount+1 - 0 )) + 0;
        if (rand != 0)
            for (var j = 0; j < 3; j++) {
                for (var i = 0; i < 11; i++) {
                    if (enemyLifes[j][i]==true)
                        rand--;
                    if (rand == 0) {
                        return [j, i];
                    }
                }
            }
        return [0, 0];
    }

    function enemyMove() {
        if (isMoveEnemyRight && enemy.x < 100) {
            enemy.x += 2;
            enemyBulletsMove(2);
            if (enemy.x == 100)
                isMoveEnemyRight = !isMoveEnemyRight;
        }
        else if (!isMoveEnemyRight && enemy.x > -50) {
            enemy.x -= 2;
            enemyBulletsMove(-2);
            if (enemy.x == -50)
                isMoveEnemyRight = !isMoveEnemyRight;
        }
    }

    function enemyBulletsMove(x) {
        for (var j = 0; j < 3; j++)
            for (var i = 0; i < 11; i++)
                enemyPlanes[j][i].x += x;
    }

    function fireBullet() {
        if (game.time.now > bulletTime && !isLevelPassed) {
            bullet = bullets.getFirstExists(false);

            if (bullet) {
                bullet.reset(plane.x + 36, plane.y - 8);
                bullet.body.velocity.y = -900;
                bulletTime = game.time.now + 100;
            }
            bullet1 = bullets.getFirstExists(false);

            if (bullet1) {
                bullet1.reset(plane.x + 30, plane.y - 8);
                bullet1.body.velocity.y = -900;
                bullet1.body.velocity.x = -200;
            }

            bullet2 = bullets.getFirstExists(false);

            if (bullet2) {
                bullet2.reset(plane.x + 42, plane.y - 8);
                bullet2.body.velocity.y = -900;
                bullet2.body.velocity.x = 200;
            }

            bullet3 = bullets.getFirstExists(false);

            if (bullet3) {
                bullet3.reset(plane.x + 24, plane.y - 8);
                bullet3.body.velocity.y = -900;
                bullet3.body.velocity.x = -400;
            }

            bullet4 = bullets.getFirstExists(false);

            if (bullet4) {
                bullet4.reset(plane.x + 52, plane.y - 8);
                bullet4.body.velocity.y = -900;
                bullet4.body.velocity.x = 400;
            }
        }

    }

    function convertIntToTwoNumbers(intNumber, numberY, numberX) {
        var num1 = 0;
        var num2 = 0;
        do {
            if (intNumber >= numberX) {
                num1++;
                intNumber -= numberX;
            }
            else {
                num2 = intNumber;
                intNumber = 0;
            }
        } while (intNumber != 0);
        return [num1, num2];
    }

    function resetBullet(bullet) {
        bullet.kill();
    }

    function resetEnemyBullet(enemyBullet) {
        enemyBullet.kill();
    }

    function playerDead(plane, bullet) {
        bullet.kill();
        plane.kill();
    }

    function collisionHandler(bullet, enemyPlane) {
        bullet.kill();
        var num1 = convertIntToTwoNumbers((enemyPlane.z-level*33) - 1, 3, 11);
        var num2 = num1[1];
        num1 = num1[0];
        enemyPlane.kill();

        enemyLifes[num1][num2] = false;
        enemyCount--;
    }

    function render() {
        //    game.debug.cameraInfo(game.camera, 500, 32);
        //    game.debug.spriteCoords(plane, 32, 32);

    }

</script>