<% layout('/layout/main') -%>
<% block('title', "")%>

<script src="/js/login.js"></script>

<section id="login">
    <div class="container">
    	<div class="row">
    	    <div class="col-xs-12">
        	    <div class="form-wrap">
                <h1>Log in with your username account</h1>
                    <form role="form" action="javascript:;" method="post" id="login-form" autocomplete="off">
                        <div class="form-group">
                            <label for="username" class="sr-only">Email</label>
                            <input type="text" name="username" id="username" class="form-control" placeholder="Harry Potter">
                            <span class="error-message username"></span>
                        </div>
                        <div class="form-group">
                            <label for="password" class="sr-only">Password</label>
                            <input type="password" name="password" id="password" class="form-control" placeholder="Password">
                            <span class="error-message password"></span>
                        </div>
                        <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Log in">
                    </form>
                    <hr>
        	    </div>
    		</div> <!-- /.col-xs-12 -->
    	</div> <!-- /.row -->
    </div> <!-- /.container -->
</section>

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>Copyright © 2015 by DP Group.</p>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript">

    $(document).ready(function(){
        $('#username').on('input', function(){
            $('.error-message.username').text('');
            $('.error-message.password').text('');
        });

        $('#password').on('input', function(){
            $('.error-message.username').text('');
            $('.error-message.password').text('');
        });

    });

    $(document.forms['login-form']).on('submit',function(){

        var form = $(this);
        $('.error' ,form).html('');
        $(':submit', form).button('loading');

        $.ajax({
            url: "login",
            method: "POST",
            data: form.serialize(),
            complete: function(){
                $(':submit', form).button('reset');
            },
            statusCode: {
                200: function(){
                    console.log(200);
                    window.location.href = '/startgame';
                },
                401: function(jqXHR){
                    var error = JSON.parse(jqXHR.responseText);
                    $('#username').val('');
                    $('#password').val('');
                    $('.error-message.username').text(error.message);
                },
                403: function(jqXHR){
                    var error = JSON.parse(jqXHR.responseText);
                    $('#password').val('');
                    $('.error-message.password').text(error.message);
                }
            }
        });
        return false;
    });

</script>