<% layout('/layout/main') -%>
<% block('title', "")%>

<section id="login">
    <div class="container">
    	<div class="row">
    	    <div class="col-xs-12">
        	    <div class="form-wrap">
                <h1>Create Account</h1>
                    <form role="form" action="javascript:;" method="post" id="login-form" autocomplete="off">
                        <div class="form-group">
                            <label for="email" class="sr-only">Email</label>
                            <input type="text" name="email" id="email" class="form-control" placeholder="info@gmail.com">
                            <span class="error-message email"></span>
                        </div>
                        <div class="form-group">
                            <label for="username" class="sr-only">Username</label>
                            <input type="text" name="username" id="username" class="form-control" placeholder="Harry Potter">
                            <span class="error-message username"></span>
                        </div>
                        <div class="form-group">
                            <label for="password" class="sr-only">Password</label>
                            <input type="password" name="password" id="password" class="form-control" placeholder="Password">
                            <span class="error-message password"></span>
                        </div>
                        <input type="submit" id="btn-sign-up" class="btn btn-custom btn-lg btn-block" value="Sign Up">
                    </form>
                    <hr>
        	    </div>
    		</div> <!-- /.col-xs-12 -->
    	</div> <!-- /.row -->
    </div> <!-- /.container -->
</section>


<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>Copyright © 2015 by DP Group.</p>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript">

    $(document).ready(function(){

        $('#btn-sign-up').on('click', function(){
            var email = $('#email').val();
            var username = $('#username').val();
            var password = $('#password').val();

            registrationUser(email, username, password, function(err){
                if(err) console.log('Error registration');
                window.location.href = '/';
            });
        });
    });

    function registrationUser(email, username, password, callback){
        $.ajax({
            type: "POST",
            url:'registration',
            data: {email:email, username:username, password:password},
            success: function(response){
                console.log(response);
                callback();
            }
        })
    }
</script>