<% layout('layout/main') -%>
<% block('title', "Start game") -%>

<link rel="stylesheet" type="text/css" href="/css/style.css" />
<div class="spinner"></div>
<div id="spinner-text">Waiting for player</div>
<div id="players"></div>


<script src="/js/phaser.js"></script>

<script src="/socket.io/socket.io.js"></script>

<script src="/js/game.js"></script>




