<% layout('layout/main'); -%>
<% block('title', 'Welcome to Mix Fight'); -%>

<div class="room-block" xmlns="http://www.w3.org/1999/html">
    <p>Select the lobby</p>

    <div class="list-group">
        <% list.forEach(function(item){ %>
            <% if(item.password != -1){ %>
                <a data-type="pass" class="list-group-item" id="<%=item._id %>"><%=item.roomName %></a>
            <% }else{ %>
                <a data-type="no-pass" class="list-group-item"  id="<%=item._id %>"><%=item.roomName %></a>
            <% } %>
        <% }); %>
    </div>
</div>

<div id="passModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Password</h4>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" name="join-pass" id="join-pass" placeholder="Password"/><br/>
                <span class="required-info">* only numbers</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="send-pass" class="btn btn-primary">Join to room</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function(){

        var modal = $('#passModal');
        var enterPassword = $('button#send-pass');


        $('a.list-group-item').on('click', function(){
            var id = $(this).attr('id');
            if($(this).attr('data-type') == 'no-pass'){
                window.location.href = '/room/' + id;
            }else{
                enterPassword.attr('data-id', id);
                modal.modal('show');
            }
        });

        enterPassword.on('click', function(){

            var password = $('input#join-pass');

            if(password.val() != '' && password.val().length < 4){
                password.val('').attr('placeholder', 'Password is very short');
            }else if(isNaN(password.val())){
                password.val('').attr('placeholder', 'Password is not a number');
            }else{
                var roomId = $(this).attr('data-id');
                checkPassword(password.val(), password, roomId);
            }
        });
    });

    function checkPassword(password, input, id){

        $.ajax({
            url: '/check',
            type: 'GET',
            data:{password: password, id: id},
            success: function(data){
                if(data.response == true){
                    window.location.href = '/room/' + id;
                }else{
                    input.val('').attr('placeholder', "Password is incorrect!");
                }
            }
        });
    }


</script>