<% layout('layout/main'); -%>
<% block('title', '');%>

<div class="gameTitle">
    Mix Fight
</div>
<div class="option-container">
    <div class="create-lobby" id="create-room">
            <span class="option-text">
                CREATE LOBBY
            </span>
    </div>
    <div class="select-lobby" id="select-lobby">
            <span class="option-text">
                SELECT LOBBY
            </span>
    </div>
    <div class="start-game" id="solo-game">
            <span class="option-text">
                START GAME
            </span>
    </div>
</div>


<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Creating Room</h4>
            </div>
            <div class="modal-body">
                <p><input type="text" class="form-control" name="room-name" id="room-name" placeholder="New room"/></p>
                <input type="checkbox" class="form-control" name="checkBox" id="checkBox"/>
                <label id="labelForCheckBox" for="checkBox">Private lobby?</label>
                <p><input type="text" class="form-control" name="room-pass" id="room-pass" placeholder="Password"/></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="save-room" class="btn btn-primary">Save record</button>
            </div>
        </div>
    </div>
</div>


<script src="/js/rooms.js"></script>